# _API_KEY: Required for AI API calls.
TELEGRAM_BOT_TOKEN=8849597742:AAHzYx2f7c89RzpR7syNCzDHTDtvIWDP570
TELEGRAM_CHAT_ID=6217754673

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

#It is example